{include file="common/header" /}
<body>
<div class="article_manage">
	<div class="right-side-header clearfix">
	        <span>全员分销</span>
	        {include file="common/admin" /}
   </div>
   <div class="right_side_content ">
   		<div class="system_guanli_div">
            <ul class="system_guanli_ul">
                <li><a href="javascript:void(0)" class="goto" data-src='{:url("distribution/index")}'>分销规则</a></li>
                <li><a href="javascript:void(0)" class="goto" data-src='{:url("distribution/rebater")}'>分销员</a></li>
                <li><a href="javascript:void(0)" class="goto" data-src='{:url("distribution/rebatelist")}'>分销记录</a></li>
                <li><a href="javascript:void(0)" class=" goto" data-src='{:url("distribution/withdraw")}'>提现记录</a></li>
                <li><a href="javascript:void(0)" class=" active  goto" data-src='{:url("poster/index")}'>营销海报</a></li>
            </ul>
        </div>
		<div class="success_tip displayNone">已完成</div>
    	<div class="add_article_main ">	
    		 <div class="breadcrumb">
	              <a href='{:url("poster/index")}'>营销海报</a>
	              /
	              <span>设置海报</span>
	        </div>
	        <div class="add_article_step"></div>
	        <div class="courseInfo_fill">
		        <section class="panel panel-padding">
		            <form id="form1" class="layui-form layui-form-pane" action="{:url('add_poster')}">
		                <input type="hidden" name="cid" value="{$cid}">
		                <div class="layui-form-item">
		                    <label class="layui-form-label">海报图*</label>
		                    <div class="layui-input-block">
		                        <input type="file" name="file" class="layui-upload-file">
		                        <input type="hidden" value="{$course.poster}" name="poster" jq-verify="required" jq-error="请上传图片" error-id="big-error">
		                        <p class="upload-info">图片尺寸：750*1334 支持格式：JPG PNG</p>
		                        <p id="big-error" class="error" style="margin-left: 300px;"></p>
		                    </div>
		                    {if $course['poster']}
		                    <div class="layui-input-block">
		                        <div class="imgbox">
		                            <img src="{$course.poster}" name="poster" alt="" class="img-thumbnail" style="width:60px;height:60px;">
		                        </div>
		                    </div>
		                    {/if}
		                </div>
		                <div class="layui-form-item">
		                    <label class="layui-form-label">是否开启</label>
		                    <div class="layui-input-inline">
		                        <input type="radio" name="poster_audit" title="启用" value="1" {if condition="$course['poster_audit'] eq 1"}checked{/if} />
		                        <input type="radio" name="poster_audit" title="禁用" value="2" {if condition="$course['poster_audit'] eq 2"}checked{/if} />
		                    </div>
		                </div>
		                <div class="layui-form-item">
		                    <div class="layui-input-block">
		                        <button class="layui-btn" jq-submit lay-filter="submit">保存</button>
		                    </div>
		                </div>
		            </form>
		        </section>
		     </div>
	    </div>
	   </div>
</div>
{include file="common/version" /}
<script>
    layui.use('course');
</script>
</body>
</html>