<div class="mui-row menuNav">
    <ul class="mui-table-view">
        <li>
            <div class="navcontent">
                <a href="{:url('/wechat/index/index')}"><img src="/public/mobile/img/icon/1.png"><span>首页</span></a>
            </div>
        </li>
        <li>
            <div class="navcontent">
                <a href="{:url('/wechat/ask/index')}"><img src="/public/mobile/img/icon/2.png"><span>问答</span></a>
            </div>
        </li>
        <li>
            <div class="navcontent">
                <a href="{:url('/wechat/article/index')}"><img src="/public/mobile/img/icon/3.png"><span>阅读</span></a>
            </div>
        </li>
        <li>
            <div class="navcontent">
                <a href="{:url('/wechat/member/index')}"><img src="/public/mobile/img/icon/4.png"><span>我的</span></a>
            </div>
        </li>
    </ul>
</div>
