{include file="common/header" /}
<body>
<div class="article_manage">
    <div class="course_right_top">
        <div class="tag_group">
            <p class="title">互动营销</p>
            {include file="common/admin" /}
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="course_right_main ">
        <div class="module_wrap_div">
            <ul class="module_wrap_ul">
                <li class="goto" data-src='{:url("question/index")}'>
                    <img src="/public/gzadmin/images/wenda@2x90.png" alt="问答">
                    <i>问答</i>
                </li>
                <li class="goto" data-src='{:url("ad/index")}'>
                    <img src="/public/gzadmin/images/ad_carousel@2x90.png" alt="广告轮播">
                    <i>广告轮播</i>
                </li >
            </ul>
        </div>
    </div>
</div>

{include file="common/version" /}
</body>
</html>