@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: rgba(41, 43, 51, 0.8);
  font-family: Open Sans, Neue Frutiger, Frutiger Next, Frutiger, Myriad Pro, Myriad, San Francisco, Segoe UI, Helvetica Neue, Helvetica, Arial, Verdana, Source Han Sans CN, PingFang SC, Hiragino Sans GB, Wenquanyi Micro Hei, Microsoft YaHei, sans-serif;
  overflow-x: hidden;
  background-color: #fff;
}

ul, li, ol {
  list-style-type: none;
}

h1, h2, h4, p, ul {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus {
  outline: 0;
}
a:link, a:visited {
  color: rgba(41, 43, 51, 0.8);
  text-decoration: none;
}
a:hover {
  color: #00b6f2;
}

a img {
  border: none;
}

input, textarea, select {
  outline: none;
  font-family: Open Sans, Neue Frutiger, Frutiger Next, Frutiger, Myriad Pro, Myriad, San Francisco, Segoe UI, Helvetica Neue, Helvetica, Arial, Verdana, Source Han Sans CN, PingFang SC, Hiragino Sans GB, Wenquanyi Micro Hei, Microsoft YaHei, sans-serif;
}

i, u, em, s {
  font-style: normal;
}

.boxShadowBottom {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/*文字换行*/
.wordBreak {
  word-break: break-all;
}

/*文本超长省略*/
.dan {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
}

.newLine {
  word-break: break-all;
  display: -webkit-box;
  -moz-line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newLine2 {
  -o-line-clamp: 2;
  -moz-line-clamp: 2;
  -webkit-line-clamp: 2;
  -ms-line-clamp: 2;
}

.newLine3 {
  -o-line-clamp: 3;
  -moz-line-clamp: 3;
  -webkit-line-clamp: 3;
  -ms-line-clamp: 3;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.btn {
  display: inline-block;
  background-color: #00b6f2;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.leftFloat {
  float: left;
}

.rightFloat {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  *zoom: 1;
}

.clearFloat {
  clear: both;
}

.w1200 {
  width: 100%;
  min-width: 1200px;
}

.w1300 {
  width: 100%;
  width: 1300px;
}

.yahei {
  font-family: "微软雅黑";
}

.bold {
  font-weight: bold;
}

.lineHeight28 {
  line-height: 28px;
}

.font12 {
  font-size: 0.75em;
}

.font13 {
  font-size: 13px;
}

.font14 {
  font-size: 0.875em;
}

.font18 {
  font-size: 1.125em;
}

.font20 {
  font-size: 1.25em;
}

.font22 {
  font-size: 1.375em;
}

.font24 {
  font-size: 1.5em;
}

.font26 {
  font-size: 1.625em;
}

.font28 {
  font-size: 1.75em;
}

.font30 {
  font-size: 1.875em;
}

.font32 {
  font-size: 2em;
}

.font34 {
  font-size: 2.125em;
}

.font36 {
  font-size: 2.25em;
}

.font38 {
  font-size: 2.375em;
}

.font40 {
  font-size: 2.5em;
}

.selfAuto {
  margin: 0 auto;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.displayInline {
  display: inline;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.opacity0 {
  opacity: 0;
}

.opacity10 {
  opacity: 0.1;
}

.opacity20 {
  opacity: 0.2;
}

.opacity30 {
  opacity: 0.3;
}

.opacity40 {
  opacity: 0.4;
}

.opacity50 {
  opacity: 0.5;
}

.opacity60 {
  opacity: 0.6;
}

.opacity70 {
  opacity: 0.7;
}

.opacity80 {
  opacity: 0.8;
}

.opacity90 {
  opacity: 0.9;
}

.opacity100 {
  opacity: 1;
}

.opacityWhite {
  color: white;
}

.opacityBlack {
  color: black;
}

/*外边距之上边距*/
.mt1 {
  margin-top: 1px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt17 {
  margin-top: 17px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt35 {
  margin-top: 35px;
}

.mt40 {
  margin-top: 40px;
}

.mt45 {
  margin-top: 45px;
}

.mt50 {
  margin-top: 50px;
}

.mt55 {
  margin-top: 55px;
}

.mt60 {
  margin-top: 60px;
}

.mt65 {
  margin-top: 65px;
}

.mt70 {
  margin-top: 70px;
}

.mt75 {
  margin-top: 75px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mt95 {
  margin-top: 95px;
}

.mt100 {
  margin-top: 100px;
}

.mt120 {
  margin-top: 120px;
}

/*外边距之下边距*/
.mb2 {
  margin-bottom: 1px;
}

.mb2 {
  margin-bottom: 2px;
}

.mb3 {
  margin-bottom: 3px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb55 {
  margin-bottom: 55px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb65 {
  margin-bottom: 65px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb75 {
  margin-bottom: 75px;
}

.mb80 {
  margin-bottom: 80px;
}

/*外边距之左边距*/
.ml {
  margin-left: 0;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml40 {
  margin-left: 40px;
}

.ml96 {
  margin-left: 96px;
}

.ml97 {
  margin-left: 97px;
}

.ml150 {
  margin-left: 150px;
}

.ml170 {
  margin-left: 170px;
}

/*外边距之右边距*/
.mr7 {
  margin-right: 7px;
}

/*外边距之左右边距*/
.mlr10 {
  margin-left: 10px;
  margin-right: 10px;
}

/*外边距之右边距*/
.mr40 {
  margin-right: 40px;
}

/*外边距之上下边距*/
.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*内边距之上边距*/
.pt0 {
  padding-top: 0px !important;
}

.pt7 {
  padding-top: 7px;
}

.pt8 {
  padding-top: 8px;
}

.pt9 {
  padding-top: 9px;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt15 {
  padding-top: 15px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pt60 {
  padding-top: 60px;
}

.pt77 {
  padding-top: 77px;
}

/*内边距之下边距*/
.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

/*内边距之左边距*/
.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.pl32 {
  padding-left: 32px;
}

.pl34 {
  padding-left: 34px;
}

.pl40 {
  padding-left: 40px;
}

.pl42 {
  padding-left: 42px;
}

.pl45 {
  padding-left: 45px;
}

.pl52 {
  padding-left: 52px;
}

.pl60 {
  padding-left: 60px;
}

.pl62 {
  padding-left: 62px;
}

/*内边距之左右边距*/
.plr15 {
  padding-left: 15px;
  padding-right: 15px;
}

.plr30 {
  padding-left: 30px;
  padding-right: 30px;
}

/*内边距之上下*/
.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ptb50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ptblr40 {
  padding: 40px;
}
/*首页 top start*/
.content-page {
  width: 1180px;
  margin: 0 auto;
  overflow: hidden;
}

.w1280 {
  width: 100%;
  min-width: 1280px;
  height: auto;
}

.basicTop {
  width: auto;
  height: 70px;
  line-height: 70px;
}

.youren_top {
  width: 100%;
  height: 70px;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88;
  background: #FFFFFF;
}

.logo_div {
  width: auto;
  height: 70px;
  line-height: 70px;
  padding-top: 8px;
}

.logo_img {
  width: auto;
  height: 40px;
  vertical-align: baseline;
  margin-top: 6px;
}

.youren_text {
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding-top: 0px;
}

.youren_top_navDiv {
  width: auto;
  height: 70px;
  position: relative;
}

.youren_top_navul {
  width: auto;
  height: 70px;
  line-height: 70px;
}

.youren_top_navul li {
  display: inline-block;
  padding-left: 40px;
  position: relative;
  height: 56px;
}

.youren_top_navul li a {
  display: inline-block;
  position: relative;
  line-height: 29px;
  opacity: 0.6;
  text-decoration: none;
  color: black;
}

a.default_navA {
  border-bottom: 2px solid #505a79;
}

.default_navA link {
  color: #505a79;
}

/*.youren_top_navul li a:hover{ color: #505a79;  }*/
.youren_top_navul > li > a:before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 29px;
  left: 50%;
  right: 50%;
  z-index: 1;
  height: 2px;
  background: #505A79;
  transition-property: left,right;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: left,right;
  -webkit-transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
}

.youren_top_navul > li > a:hover:before {
  left: 0;
  right: 0;
}

.youren_top_messageDiv {
  width: auto;
  height: 70px;
  line-height: 70px;
}

.youren_top_messageSpan:before {
  content: "(";
}

.youren_top_messageSpan:after {
  content: ")";
}

.youren_top_messageImg {
  width: auto;
  height: 70px;
  line-height: 70px;
}

.youren_top_messageImg img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 26px;
  right: 0;
  z-index: 1;
}

.youren_top_name {
  margin-left: 28px;
}

.youren_top_myselfImg {
  width: 36px;
}

.youren_top_myselfImg img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  position: absolute;
  top: 17px;
  right: 0;
  z-index: 1;
}

.youren_top_arrowDownImg {
  width: 24px;
}

.youren_top_arrowDownImg img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 23px;
  right: 0;
  z-index: 1;
}

.youren_top_dropMenu_div {
  width: auto;
  min-width: 138px;
  height: auto;
  padding: 30px 40px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  position: absolute;
  top: 63px;
  right: 40px;
  z-index: 1;
}

.youren_top_dropMenu_ul li {
  margin-bottom: 15px;
}

.youren_top_dropMenu_ul li:last-child {
  margin-bottom: 0px;
}

.youren_top_dropMenu_ul li a {
  display: inline-block;
}

.youren_top_dropMenu_ul li img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.youren_top_dropMenu_ul li i {
  display: inline-block;
  margin-left: 10px;
  opacity: 0.6;
  font-size: 14px;
}

.color00B6F2 {
  color: #00B6F2;
  opacity: 1;
}

.a_login {
  width: auto;
  height: auto;
  padding: 6px 17px;
  color: #FFFFFF;
  background: #00b6f2;
  border-radius: 3px;
}

.a_login:link {
  color: #FFFFFF;
}

.a_login:hover {
  background: rgba(0, 182, 242, 0.8);
  color: #FFFFFF;
}

.a_login:active {
  background: rgba(0, 182, 242, 0.8);
}

.weixin_QRcord_alert_outside {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.1);
}

.account_alert_outside {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.1);
}

.accountLogin_info {
  padding: 0 30px;
  margin-top: 25px;
}

.accountLogin_info input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  outline: none;
  border: 2px solid #EEEEEE;
  border-radius: 3px;
  font-size: 14px;
  padding-left: 15px;
}

.a_forgetPassword {
  font-size: 13px;
}

.a_forgetPassword:link {
  color: #00B6F2;
}

.showErrorWord {
  font-size: 13px;
  color: #C25842;
}

.a_accountLogin {
  display: block;
  width: auto;
  height: auto;
  background: #00B6F2;
  padding: 10px 0;
  font-size: 14px;
  border-radius: 3px;
  margin: 20px 0 0 0;
}

.a_accountLogin:link {
  color: white;
}

.use_weixinLogin {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  color: #00B6F2;
  margin: 30px 0 0 0;
}

.weixin_QRcord_alert {
  width: 330px;
  height: 410px;
  padding: 0px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -165px;
  margin-top: -205px;
  z-index: 100;
  text-align: center;
  _position: absolute;
  /*ie6*/
}

.delete_div {
  position: static;
  top: -60px;
  right: 0;
  width: auto;
  height: auto;
  text-align: right;
}

.delete_div img {
  width: 40px;
  height: 40px;
}

.weixin_QRcord_div {
  width: auto;
  height: auto;
}

.weixin_QRcord_div img {
  width: 210px;
  height: 210px;
  vertical-align: middle;
}

.use_AccountLogin {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  color: #00B6F2;
  margin: 40px 0 0 0;
}

/*首页 top end*/
.footer {
  margin: 40px 0 20px;
}
.footer p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
}
.footer.fixed {
  margin: 0;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

/*# sourceMappingURL=common-v72.css.map */
.binddialog{display:flex;justify-content:center;align-items:center;position:fixed;z-index:100;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,0.1)}
.binddialog .bind-box{width:330px;height:283px;padding:30px;background-color:#fff;border:1px solid rgba(0,0,0,0.1);border-radius:3px;box-shadow:0 5px 30px rgba(0,0,0,0.05);position:relative}
.binddialog .bind-box .cross{position:absolute;top:0;right:0;width:40px;height:40px;background:url("../../pc/images/delete@2x.png") no-repeat center/cover}
.binddialog .bind-box .bind-caption{font-size:20px;line-height:27px;color:#29303d;text-align:center;margin-bottom:32px}
.binddialog .bind-box .validate-box{margin-bottom:30px;position:relative}
.binddialog .bind-box .phonenum{display:block;width:100%;height:40px;line-height:38px;padding-left:15px;border:1px solid #EEEEEE;border-radius:3px;margin-bottom:15px}
.binddialog .bind-box .validatenum{width:154px;height:40px;line-height:38px;padding-left:15px;border:1px solid #EEEEEE;border-radius:3px;margin-right:9px}
.binddialog .bind-box .getvalidate{cursor:pointer;width:100px;height:40px;font-size:14px;color:#00B6F2;background-color:#fff;border:1px solid #00B6F2;border-radius:3px}
.binddialog .bind-box .error-alert{font-size:12px;color:#f00;position:absolute;bottom:-21px}
.binddialog .bind-box .confirm{cursor:pointer;display:block;height:40px;color:#fff;font-style:normal;line-height:38px;text-align:center;background-color:#00B6F2;border-radius:3px}


/*用户禁用开始*/
.wrap{
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 30px rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.1);
  z-index: 9999;
}
.empty_box{
  width: 330px;
  height: 396px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.empty_close{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.empty_close>img{
  width: 20px;
  height: 20px;
  display: block;

}
.em_content {
  width: 200px;
  height: 112px;
  padding: 0 10px;
}
.em_content  img {
  display: block;
  margin: 0 auto;
  width: 72px;
  height: 72px;
}
.wrap  p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: rgba(41, 43, 51, 0.3);
  text-align: center;
}

/*用户禁用结束*/
.footer p a {font-size: 12px; color: rgba(0, 0, 0, .2);}
.footer p a:hover {color: rgba(0, 0, 0, .4);}

