{include file="common/header" /}
<style>
    .td_content{
        width:200px;
        height:50px;
        border:1px solid red;
        border-top:4px solid red;
        padding:10px;
        overflow:hidden; /*内容超出宽度时隐藏超出部分的内容 */
        text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
        white-space:nowrap; /*不换行 */
    }
</style>
<body>
<div class="article_manage">
	<div class="right-side-header clearfix">
	        <span>知识店铺</span>
	        {include file="common/admin" /}
   </div>
    <div class="right_side_content">
    	{include file="common/course_bread" /}
    	<div class="course_right_main ">
        	<div class="operation_div">
<!--             <span class="span_add btn ajax-all" data-name="checkbox" data-params='{"url": "{:url("setAudit_comment")}","data":"","confirm":"true"}'>批量审核</span> -->
            <span class="span_delete btn ajax-all" data-name="checkbox" data-params='{"url": "{:url("delall_comment")}","data":"","confirm":"true"}'>批量删除</span>
<!--             <span class="span_batch_import btn modal-catch"  data-name="checkbox" data-params='{"content":".batch-add","act":"{:url("batchreply")}", "title":"批量回复","type":"1","area":"300px,300px"}'>批量回复</span> -->
            <div class="select_search " >
                <form class="layui-form" action='{:url("comment")}'>
                    <!--<input class="keyword" type="text" name="key" placeholder="收索..">-->
                    <input class="search_btn" type="image" src="/public/gzadmin/images/gray_search@2x20.png" lay-submit name="submit" lay-filter="search" align="" >
                    <div class="layui-form">
                        <div class="layui-inline" style="width: 100px">
                            <select name="audit" lay-verify="required">
                                <option value="2">全部</option>
                                <option value="1">审核</option>
                                <option value="0">未审核</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input class="layui-input" name="key" placeholder="搜索课程名称">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        	</div>
         </div>
        <div id="list" class="layui-form"></div>
        <div class="text-right" id="page"></div>
    </div>
</div>
<div class="edit-subcat" style="display: none">
    <form id="form2" class="layui-form layui-form-pane" action='{:url("reply")}'>
        <div class="layui-form-item">
           
            <div class="layui-input-inline">
                <textarea name="reply" style="width: 109%" placeholder="请输入回复信息" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" jq-submit jq-filter="submit">确定</button>
            </div>
        </div>
    </form>
</div>
<!-- <div class="batch-add" style="display: none"> -->
<!--     <form id="form3" class="layui-form layui-form-pane" action='{:url("batchreply")}'> -->
<!--          <div class="layui-form-item"> -->
<!--             <div class="layui-input-inline"> -->
<!--                 <textarea name="reply" style="width: 109%" placeholder="请输入回复信息" class="layui-textarea"></textarea> -->
<!--             </div> -->
<!--         </div> -->
<!--         <div class="layui-form-item"> -->
<!--             <div class="layui-input-block"> -->
<!--                 <button class="layui-btn" jq-submit jq-filter="submit">确定</button> -->
<!--             </div> -->
<!--         </div> -->
<!--     </form> -->
<!-- </div> -->
<script id="list-tpl" type="text/html" data-params='{"url":"{:url("comment")}","pageid":"#page"}'>
    <table id="example" class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th style="width: 6%"><input type="checkbox" id="checkall" data-name="checkbox" lay-filter="check" lay-skin="primary"></th>
            <th>序号</th>
			<th>课程名称</th>
            <th>名称</th>
            <th>评星</th>
            <th>内容</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{# layui.each(d.list, function(index, item){ }}
        <tr>
            <td>
                <input type="checkbox" name="checkbox" value="{{item.id}}" lay-skin="primary">
            </td>
            <td><i title>{{item.id}}</i></td>
			 <td>{{ item.course_name}}</td>
             <td>{{ item.nickname}}</td>
            <td>{{ item.star}}</td>
            <td class="td_content">
						<p style="width:380px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; " title="{{ item.content}}">{{ item.content}}</p>
						{{#if (item.reply){ }}<p style="width:380px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; color: rgba(41,43,51,0.5);" title="{{ item.reply}}">回复：{{ item.reply}}</p>{{# } }}
			</td>
            <td><input type="checkbox" name="switch" lay-skin="switch" lay-text="" {{#if (item.audit){ }}checked="checked" {{# } }} lay-filter="ajax" data-params='{"url":"{:url("course/comment_state")}","confirm":"true","data":"id={{ item.id}}"}'></td>
            <td>
                <i class="modal-catch i_edit" data-params='{"content": ".edit-subcat","act":"{:url("reply")}","title":"管理员回复","data":"id={{ item.id}}&reply={{ item.reply}}","type":"1","area":"300px,300px"}'>回复</i>
				<i class="i_delete ajax" data-params='{"url": "{:url("del_comment")}","data":"id={{ item.id}}","confirm":"true"}'>删除</i>
            </td>
        </tr>
        {{# }); }}
        </tbody>
    </table>
</script>
{include file="common/version" /}
<script>
    layui.use('list');
</script>
</body>
</html>