{include file="common/header" /}
<style type="text/css">
    .mincode_img{
        position: fixed;
        top: 50%;
        left: 50%;
        background-color: #fff;
        width:250px;
        height: 250px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        border:solid 1px #292B33;
        padding: 23px;
    }
    .put-floating-layer{
    	height:460px;
    }
</style>
<body>
<div class="article_manage">
	<div class="right-side-header clearfix">
	        <span>知识管理</span>
	        {include file="common/admin" /}
   </div>
   <div class="right_side_content">
		{include file="common/course_bread" /}
	   <div class="course_right_main ">
	         <div class="operation_div">
	            <span class="span_add btn span_add_course goto" data-src='{:url("course/create")}'>添加课程</span>
	            <div class="select_search " >
	
	                <form class="layui-form" action='{:url("index")}'>
	                    <!--<input class="keyword" type="text" name="key" placeholder="收索..">-->
	                    <input class="search_btn" type="image" src="/public/gzadmin/images/gray_search@2x20.png" lay-submit name="submit" lay-filter="search" align="" >
	                    <div class="layui-form">
	                        <div class="layui-inline" style="width: 100px">
	                            <select name="audit" lay-verify="required">
	                                <option value="1">上架</option>
	                                <option value="0">下架</option>
	                            </select>
	                        </div>
	                        <div class="layui-inline">
	                            <select name="pid">
	                                <option value="">请选择分类</option>
	                                {foreach $catelist as $vo}
	                                <option value="{$vo.id}">{$vo.cate_name}</option>
	                                {/foreach}
	                            </select>
	                        </div>
	                        <div class="layui-inline">
	                            <div class="layui-input-inline">
	                                <input class="layui-input" name="key" placeholder="关键字">
	                            </div>
	                        </div>
	                    </div>
	                </form>
	            </div>
	            <div class="clearfix"></div>
	         </div>
	         <div id="list" class="layui-form">
	         </div> 
			 <div class="text-right" id="page"></div>
	 
	      </div>
   	</div>
</div>

<script id="list-tpl" type="text/html" data-params='{"url":"{:url("course/index")}","pageid":"#page"}'>
    <table id="example" class="layui-table" lay-skin="line">
        <thead>
        <tr>
           <th>封面</th>
    			 <th>名称</th>
    			 <th>价格</th>
    			 <th>上架／下架</th>
    			 <th>排序</th>
    			 <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{# layui.each(d.list, function(index, item){ }}
        <tr class="courselist-tr">
             <td><img class="img_cover" src="{{ item.banner}}" height="30" alt="封面"></td>
			 <td>{{ item.title}}</td>
			 <td>{{ item.price}}</td>
			 <td><input type="checkbox" name="switch" lay-skin="switch" lay-text="" {{#if (item.audit){ }}checked="checked" {{# } }} lay-filter="ajax" data-params='{"url":"{:url("course/course_state")}","confirm":"true","data":"id={{ item.cid}}"}'></td>
			 <td class="icon"><i class="rise ajax" data-params='{"url": "{:url("course/moveUpDown")}","data":"id={{ item.cid}}&updown=up"}'></i><i class="drop ajax" data-params='{"url": "{:url("course/moveUpDown")}","data":"id={{ item.cid}}&updown=down"}'></i></td>
			 <td style="position: relative"><i class="i_edit goto" data-src='{:url("course/edit_course")}?cid={{ item.cid }}'>编辑</i> <i class="btn_wxcode" data-id="{{ item.cid}}" style="cursor: pointer">投放</i> <i class="i_delete ajax" data-params='{"url": "{:url("course/del_course")}","data":"id={{ item.cid}}","confirm":"true"}'>删除</i>
                 <div class="put-floating-layer">
                     <div class="floating-layer-heading">
                         <span class="close">&times;</span>
                     </div>
                     <div class="floating-layer-body clearFloat">
                         <span class="publicSignal-code">
                             <i>公众号二维码</i>
                             <img src="/public/gzadmin/images/kong-wechat.png" class="publicSignal_code">
                         </span>
                         <span class="smallProgram-code">
                             <i>小程序码</i>
                             <img src="/public/gzadmin/images/kong-miniprom.png" class="smallProgram_code">
                         </span>
                     </div>
                     <div class="floating-layer-footer mt20">
                         <p>课程链接：</p>
                         <span id="course-addr{{ item.cid}}" class="copy-dom course-link-addr"  style="width: 228px;"><?php echo host();?>/wechat/course/detail?cid={{ item.cid}}</span>
                         <span class="btn-success copy-link-addr" data-clipboard-action="copy" data-clipboard-target="#course-addr{{ item.cid}}">复制链接</span>
                     </div>
					 <div class="floating-layer-footer mt20">
						 <p>小程序链接：</p>
						 <span id="mincode-addr{{ item.cid}}" class="copy-dom course-link-addr"  style="width: 228px;">/pages/course/detail?cid={{ item.cid}}</span>
						 <span class="btn-success copy-link-addr" data-clipboard-action="copy" data-clipboard-target="#mincode-addr{{ item.cid}}">复制链接</span>
					 </div>
                 </div>
             </td>
        </tr>
        {{# }); }}
        </tbody>
    </table>
    <div class="mincode_img" style="display: none;">
        <img src="" width="200px" height="200px">
    </div>
    <div class="add-subcat">
</div>
</script>
{include file="common/version" /}
<script src="/public/gzadmin/js/clipboard.min.js"></script>
<script>
    var host = window.location.host;
    layui.use('list');
    $(document).on("click",'.mincode_img',function(){
        $('.mincode_img').hide();
    });
    $(document).on("click",'.btn_wxcode',function(){
        putFloatingLayer = $(this).parent().find(".put-floating-layer");
        display = putFloatingLayer.css("display");
        if("none" ==display ){
            $(".put-floating-layer").hide();
            putFloatingLayer.show();
        }else{
            putFloatingLayer.hide();
        }
        var link = $(this).parent().find('.course-link-addr').text();
        link = encodeURIComponent(link);
        var course_url = 'http://tool.oschina.net/action/qrcode/generate?data='+link+'&output=image%2Fjpeg&error=L&type=0&margin=8';
        $(this).parent().find('.publicSignal_code').attr('src',course_url);

        var cid = $(this).attr('data-id');
        var url = 'http://'+host+'/api/wechat/wxacode?cid='+cid;
        var smallProgram_code = $(this).parent().find('.smallProgram_code');
        $.get(url, function(result){
            if(result.code == 1){
            	console.log(result.data);
                smallProgram_code.attr('src',result.data);
            }
        });
    });
    $(document).on('click','.close',function(){
        var putFloatingLayer = $(this).closest(".put-floating-layer");
        putFloatingLayer.hide();
    });
    var clipboard = new Clipboard('.copy-link-addr');
    clipboard.on('success', function(e) {
        console.log(e);
        layer.msg('复制成功');
    });
    /*$(document).on('click','.copy-link-addr',function () {
        var link = decodeURI($(this).prev('span.course-link-addr').text());

        var clipboard = new Clipboard('.copy-link-addr', {
            text: function() {
                return link;
            }
        });
        /!*window.clipboardData.setData("Text",$(this).prev('span.course-link-addr').html());*!/
    });*/
</script>
</body>
</html>

