@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 14px;
  color: rgba(41, 43, 51, 0.8);
  font-family: DroidSans, DroidSansFallback, Arial, "Microsoft YaHei";
  font-family: DroidSans, DroidSansFallback, Arial, "Microsoft YaHei";
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, ul {
  font-weight: normal;
  margin: 0;
  padding: 0; }

i, u, em, s {
  font-style: normal; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  a:focus {
    outline: 0; }
  a:link, a:visited {
    color: rgba(41, 43, 51, 0.8);
    text-decoration: none; }

a img {
  border: none; }

img {
  vertical-align: top; }

input, textarea, select {
  outline: none;
  font-family: DroidSans, DroidSansFallback, Arial, "Microsoft YaHei"; }

.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both; }

.clearfix {
  zoom: 1; }

.boxShadowBottom {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); }

/*文字换行*/
.wordBreak {
  word-break: break-all; }

/*文本超长省略*/
.dan {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis; }

.newLine {
  word-break: break-all;
  display: -webkit-box;
  -moz-line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.newLine2 {
  -o-line-clamp: 2;
  -moz-line-clamp: 2;
  -webkit-line-clamp: 2;
  -ms-line-clamp: 2; }

.newLine3 {
  -o-line-clamp: 3;
  -moz-line-clamp: 3;
  -webkit-line-clamp: 3;
  -ms-line-clamp: 3; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.leftFloat {
  float: left; }

.rightFloat {
  float: right; }

.clearFloat {
  clear: both; }

.bold {
  font-weight: bold; }

.selfAuto {
  margin: 0 auto; }

.block {
  display: block; }

.inlineBlock {
  display: inline-block; }

.displayInline {
  display: inline; }

.displayNone {
  display: none; }

.displayBlock {
  display: block; }

.textLeft {
  text-align: left; }

.textCenter {
  text-align: center; }

.textRight {
  text-align: right; }

.fc-2 {
  color: rgba(41, 43, 51, 0.2); }

.fc-3 {
  color: rgba(41, 43, 51, 0.3); }

.fc-4 {
  color: rgba(41, 43, 51, 0.4); }

.fc-6 {
  color: rgba(41, 43, 51, 0.6); }

.fc-8 {
  color: rgba(41, 43, 51, 0.8); }

.fc-10 {
  color: #292b33; }

.subfc {
  color: #6897B1; }

.fs-11 {
  font-size: 11px; }

.fs-12 {
  font-size: 12px; }

.fs-14 {
  font-size: 14px; }

.fs-16 {
  font-size: 16px; }

.fs-18 {
  font-size: 18px; }

.fs-20 {
  font-size: 20px; }

.fs-24 {
  font-size: 24px; }

.fs-36 {
  font-size: 36px; }

.p-0-15 {
  padding: 0 15px; }

.p-0-10 {
  padding: 0 10px; }

.mui-bar {
  background-color: #00b6f2;
  position: initial; }

.mui-bar .mui-title {
  color: #fff;
  font-size: 16px; }

.mui-bar-nav {
  -webkit-box-shadow: none;
          box-shadow: none; }

.mui-icon-arrowthinleft {
  color: #fff;
  font-weight: 700; }

.mui-popup-backdrop {
  background: rgba(0, 0, 0, 0.6); }

/*主菜单*/
.menuNav {
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 102;
  background: #fff;
  -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px rgba(0, 0, 0, 0.1); }

.menuNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.menuNav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  height: 50px; }

.navcontent {
  width: 100%;
  height: 100%;
  text-align: center; }

.navcontent a {
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 5px; }

.navcontent a .bottom-tab-icon {
  height: 24px;
  display: block;
  margin: 0 auto; }

.navcontent a .index-icon {
  background: url("../img/icon2/1.png") no-repeat center/24px; }

.NavActive a .index-icon {
  background: url("../img/icon2/1a.png") no-repeat center/24px; }

.navcontent a .course-icon {
  background: url("../img/icon2/2.png") no-repeat center/24px; }

.NavActive a .course-icon {
  background: url("../img/icon2/2a.png") no-repeat center/24px; }

.navcontent a .quiz-icon {
  background: url("../img/icon2/3.png") no-repeat center/24px; }

.NavActive a .quiz-icon {
  background: url("../img/icon2/3a.png") no-repeat center/24px; }

.navcontent a .discuss-icon {
  background: url("../img/icon2/4.png") no-repeat center/24px; }

.NavActive a .discuss-icon {
  background: url("../img/icon2/4a.png") no-repeat center/24px; }

.navcontent a .info-icon {
  background: url("../img/icon2/5.png") no-repeat center/24px; }

.NavActive a .info-icon {
  background: url("../img/icon2/5a.png") no-repeat center/24px; }

.navcontent a span {
  float: left;
  width: 100%;
  text-align: center;
  color: rgba(41, 43, 51, 0.4);
  font-size: 12px; }

.NavActive a span {
  color: #00b6f2; }

/*end*/
.icon-add {
  background: url(../img/icon/icon-add.png);
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 100;
  bottom: 15px;
  right: 15px; }

.q-btn {
  float: left;
  width: 100%;
  padding: 0 15px;
  margin-top: 20px; }

.q-btn a {
  width: 100%;
  height: 42px;
  line-height: 42px;
  text-align: center;
  float: left;
  background: #00B6F2;
  color: #fff;
  font-size: 16px;
  border-radius: 25px; }

.q-btn a:active {
  opacity: 0.8; }

.icon-hook {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/icon/icon-hook.png);
  background-size: 100% 100%; }

.icon-heart {
  display: inline-block; }

.icon-msg {
  display: inline-block;
  width: 16px !important;
  height: 16px !important;
  background: url(../img/icon/icon-msg.png);
  background-size: 100% 100%; }

.icon-zan {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/icon/zan.png);
  background-size: 100% 100%; }

.icon-zaned {
  display: inline-block;
  background-size: cover;
  background-image: url("../img/icon/zaned.png"); }

.btn-c {
  width: 70px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 17px;
  border: 1px solid #00B6F2;
  float: right;
  color: #00B6F2; }

.icon-wx {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/icon/icon-ewm.png);
  background-size: 100% 100%; }

.rw {
  height: 60px;
  margin-top: 30px;
  background: #FAFAFA;
  border: solid #E7E5EA;
  border-width: 1px 0 1px 0;
  padding: 10px 15px; }

.rw h2 {
  margin: 3px 0;
  float: left;
  width: 100%; }

.rw img {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.rw-left {
  position: relative;
  padding-left: 55px; }

.rw-left img {
  position: absolute;
  left: 0; }

.gz {
  width: 72px;
  height: 36px;
  font-size: 14px;
  color: #00b6f2;
  text-align: center;
  border: 1px solid #00B6F2;
  float: right;
  line-height: 36px;
  border-radius: 18px;
  margin-top: 2px; }

.follow {
  width: 72px;
  height: 36px;
  font-size: 14px;
  color: #FFF;
  text-align: center;
  background: #00B6F2;
  float: right;
  line-height: 36px;
  border-radius: 18px;
  margin-top: 2px; }

.buy-dialog.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.buy-dialog {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .buy-dialog.buy-dialog-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .buy-dialog .alert-box {
    background: #fff;
    border-radius: 2px;
    padding: 20px;
    width: 280px; }
    .buy-dialog .alert-box h1 {
      text-align: left;
      margin: 0;
      padding: 0; }
    .buy-dialog .alert-box p {
      width: 100%;
      margin-top: 15px;
      margin-bottom: 40px;
      text-align: left;
      line-height: 24px; }
    .buy-dialog .alert-box .buy-dialog-btn {
      float: right; }
      .buy-dialog .alert-box .buy-dialog-btn a {
        display: inline-block;
        font-size: 16px;
        height: 32px;
        line-height: 32px;
        padding: auto 10px;
        color: #00B6F2; }
    .buy-dialog .alert-box .buy-dialog-btn a.onBridgeReady {
      font-weight: 600;
      color: #00b6f2;
      margin-left: 30px; }
    .buy-dialog .alert-box .buy-dialog-btn a.onBridgeReady.bg-color {
      background: rgba(0, 182, 242, 0.1); }

.icon-huifu {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url(../img/icon/icon-huifu.png);
  background-size: 100% 100%; }

#null {
  display: block;
  text-align: center;
  float: left;
  width: 100%;
  padding: 200px 0; }

#null img {
  width: 168px; }

#null p {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 15px; }

.grazy-copyright {
  display:none;
  height: 50px;
  line-height: 50px;
  margin: 0; }
  .grazy-copyright.hastab {
	display:none;
    margin-bottom: 50px; }
  .grazy-copyright.bottom-fixed {
	display:none;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 2; }
    .grazy-copyright.bottom-fixed.hastab {
	  display:none;
      bottom: 50px;
      margin: 0; }
  .grazy-copyright i {
	display:none;
    display: block;
    font-size: 12px;
    text-align: center;
    color: rgba(41, 43, 51, 0.2); }

.binddialog {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6); }

.binddialog .bind-box {
  width: 310px;
  height: 263px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  position: relative; }

.binddialog .bind-box .bind-caption {
  font-size: 20px;
  line-height: 27px;
  color: rgba(41, 45, 61, 0.8);
  font-weight: 400;
  margin: 0; }

.binddialog .bind-box > p {
  font-size: 14px;
  line-height: 24px;
  color: rgba(41, 45, 61, 0.4);
  margin-bottom: 20px; }

.binddialog .bind-box .validate-box {
  margin-bottom: 20px;
  position: relative; }

.binddialog .bind-box .phonenum {
  display: block;
  width: 248px;
  height: 14px;
  font-size: 14px;
  padding: 13px 0 13px 15px;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  margin-bottom: 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.binddialog .bind-box .validatenum {
  width: 136px;
  height: 14px;
  font-size: 14px;
  padding: 13px 0 13px 15px;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  margin: 0 9px 0 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.binddialog .bind-box .getvalidate {
  width: 101px;
  height: 40px;
  font-size: 14px;
  color: #00b6f2;
  background-color: #fff;
  border: 1px solid #00B6F2;
  border-radius: 3px; }

.binddialog .bind-box .error-alert {
  font-size: 12px;
  color: #f00;
  position: absolute;
  bottom: -21px; }

.binddialog .bind-box .confirm {
  display: block;
  height: 40px;
  color: #fff;
  font-style: normal;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  background-color: #00B6F2;
  border-radius: 3px; }

.btn {
  display: inline-block;
  width: 90px;
  height: 32px;
  text-align: center;
  border-radius: 18px; }
  .btn.hollow {
    line-height: 30px;
    color: #00b6f2;
    border: 1px solid #00b6f2; }
    .btn.hollow.invalid {
      color: rgba(0, 0, 0, 0.2);
      border-color: rgba(0, 0, 0, 0.05); }
    .btn.hollow.active {
      color: #fff;
      background-color: #00b6f2; }
  .btn.solid {
    line-height: 32px;
    color: #fff;
    background-color: #00b6f2; }
    .btn.solid.invalid {
      color: rgba(0, 0, 0, 0.2);
      background-color: rgba(0, 0, 0, 0.03); }
    .btn.solid.active {
      color: #fff;
      background-color: #0B9FDE; }
  .btn.trans {
    line-height: 32px;
    color: #00b6f2;
    background-color: rgba(0, 182, 242, 0.1); }
    .btn.trans.invalid {
      color: rgba(0, 0, 0, 0.2);
      background-color: rgba(0, 0, 0, 0.03); }
    .btn.trans.active {
      color: #fff;
      background-color: #00b6f2; }

.contact-dialog {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6); }
  .contact-dialog .dialog-main {
    width: 280px;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 2px;
    background-color: #fff; }
    .contact-dialog .dialog-main h1 {
      font-size: 16px;
      color: #292b33; }
    .contact-dialog .dialog-main img {
      width: 215px;
      height: 215px;
      margin: 5px 0; }
  .contact-dialog .dialog-close {
    margin-top: 20px;
    text-align: center; }
    .contact-dialog .dialog-close .dialog-closebtn {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: url("/public/image/wxalertcancel.png") no-repeat center/cover; }

/*确认弹窗*/
.box-shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: none; }
  .box-shadow .alert-box {
    width: 280px; }
    .box-shadow .alert-box .confirm-box {
      width: 280px;
      background: #fff;
      padding: 30px 0;
      margin: 0 auto;
      -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.5);
              box-shadow: 0 19px 38px rgba(0, 0, 0, 0.5); }
      .box-shadow .alert-box .confirm-box img {
        margin: 0px auto;
        text-align: center;
        display: block;
        width: 72px;
        height: 72px;
        margin-bottom: 30px;
        clear: both; }
      .box-shadow .alert-box .confirm-box input {
        width: 220px;
        height: 40px;
        margin: 0 auto;
        font-size: 16px;
        color: rgba(41, 43, 51, 0.4);
        border: 1px solid #EEEEEE;
        padding: 10px 10px 11px;
        display: block; }
      .box-shadow .alert-box .confirm-box input:focus {
        outline: none; }
      .box-shadow .alert-box .confirm-box span {
        color: #FF3B30;
        font-size: 12px;
        display: block;
        margin-top: 5px;
        margin-left: 30px; }
      .box-shadow .alert-box .confirm-box button {
        display: block;
        margin: 0 auto;
        margin-top: 24px;
        width: 220px;
        height: 36px;
        border-radius: 18px;
        background: #00B6F2;
        color: white;
        font-size: 16px; }
    .box-shadow .alert-box .close-img {
      margin-top: 30px; }
      .box-shadow .alert-box .close-img img {
        width: 40px;
        height: 40px;
        display: block;
        margin: 0 auto; }

.mui-table-view::before,
.mui-table-view::after {
  display: none; }

.img-customerService {
  position: fixed;
  z-index: 9;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  right: 15px;
  bottom: 65px;
  border-radius: 50%;
  background: #4CD964 url("/public/mobile/img/icon/customerService@2x.png") no-repeat center/20px; }

.bor-bottom {
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06); }

ul.iterm-box li {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  display: flex;
  align-items: center; }

ul.iterm-box li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

ul.iterm-box li .iterm-img {
  width: 49px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

ul.iterm-box li .iterm-img img {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 2px; }

ul.iterm-box li .iterm-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06); }

ul.iterm-box li:first-child .iterm-content {
  -webkit-box-shadow: none;
          box-shadow: none; }

.list-content {
  padding: 15px 0;
  background-color: #fff; }
  .list-content.withtitle {
    padding: 0 0 15px 0; }

.course-list > li {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 15px;
  margin-bottom: 24px; }
  .course-list > li:last-child {
    margin: 0; }
  .course-list > li .teacher-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .course-list > li .teacher-box > img {
      width: 60px;
      height: 60px;
      border-radius: 10px; }
  .course-list > li .course-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
    margin-right: 15px; }
    .course-list > li .course-content > h1 {
      font-size: 16px;
      line-height: 1.2em;
      margin: 0;
      color: #292b33;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .course-list > li .course-content > span {
      width: 100%;
      font-size: 12px;
      color: rgba(41, 43, 51, 0.4);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .course-list > li .course-content > i {
      width: 100%;
      text-align: left;
      font-size: 12px;
      font-style: normal;
      color: rgba(41, 43, 51, 0.4); }
  .course-list > li .course-price {
    color: #00B6F2;
    font-size: 14px;
    line-height: 1.3em;
    text-align: right;
    -ms-flex-item-align: start;
        align-self: flex-start; }

.course-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  padding: 0 15px;
  background-color: #fff; }
  .course-box > p {
    font-size: 18px;
    line-height: 50px;
    color: #292b33;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .course-box > a {
    font-size: 14px;
    color: rgba(41, 43, 51, 0.4);
    line-height: 60px; }

.emptypage-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .emptypage-wrapper .empty-box {
    width: 200px; }
  .emptypage-wrapper .empty-img {
    display: block;
    margin: 0 auto;
    width: 72px;
    height: 72px; }
  .emptypage-wrapper .empty-text {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: rgba(41, 43, 51, 0.3);
    text-align: center; }

.promoter_nav,
.allorder_nav {
  position: relative;
  z-index: 1; }

.bundle-list > li {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px; }
  .bundle-list > li:last-child {
    margin: 0; }

.bundle-showbox {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 2; }
  .bundle-showbox .img2, .bundle-showbox .img3 {
    border-radius: 10px;
    height: 40px; }
  .bundle-showbox > div {
    border-radius: 10px; }
    .bundle-showbox > div:not(:first-child) {
      position: absolute;
      left: 0; }
    .bundle-showbox > div:not(:first-child)::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    .bundle-showbox > div:nth-child(2) {
      width: 95.7%;
      bottom: -7px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: -1; }
      .bundle-showbox > div:nth-child(2)::after {
        background-color: rgba(255, 255, 255, 0.6); }
    .bundle-showbox > div:nth-child(3) {
      width: 91.3%;
      bottom: -14px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: -2; }
      .bundle-showbox > div:nth-child(3)::after {
        background-color: rgba(255, 255, 255, 0.3); }
    .bundle-showbox > div > img {
      width: 100%;
      border-radius: 10px; }

.bundle-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 18px;
  overflow: hidden; }
  .bundle-content > h1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 14px;
    line-height: 1.5em;
    color: #292b33;
    margin: 0; }
  .bundle-content .bundle-price {
    color: #00B6F2;
    font-size: 14px;
    margin-left: 30px; }

.qna-box {
  padding: 20px 15px;
  background-color: #fff;
  margin-bottom: 12px; }
  .qna-box .qna-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5px; }
    .qna-box .qna-top > img {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 40px;
              flex: 0 0 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px; }
    .qna-box .qna-top .qna-topright {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      overflow: hidden; }
      .qna-box .qna-top .qna-topright .name {
        font-weight: 600;
        margin-bottom: 6px;
        height: 14px;
        line-height: 14px; }
      .qna-box .qna-top .qna-topright .ess {
        width: 18px;
        height: 18px;
        vertical-align: middle; }
      .qna-box .qna-top .qna-topright .qna-infobox {
        line-height: 17px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .qna-box .qna-top .qna-topright .qna-infobox .create-time {
          margin-right: 10px;
          height: 12px;
          line-height: 12px; }
        .qna-box .qna-top .qna-topright .qna-infobox .catename {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          line-height: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
  .qna-box .qna-title {
    line-height: 1.5em;
    margin-bottom: 5px; }
  .qna-box .img-displaybox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px; }
    .qna-box .img-displaybox img {
      width: 1.05rem;
      height: 1.05rem;
      -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
              box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
      border-radius: 2px; }
      .qna-box .img-displaybox img:not(:last-child) {
        margin-right: 10px; }

.order_list_div {
  background: #FFF; }

ul.order_list_ul {
  padding-left: 15px; }

.order_list_ul li {
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  padding: 20px 15px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.order_list_ul li:first-child {
  -webkit-box-shadow: none;
          box-shadow: none; }

.order-list-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .order-list-left h4 {
    font-weight: normal;
    font-size: 16px;
    color: #292b33;
    margin-bottom: 5px; }
  .order-list-left p {
    line-height: 1.7em;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .order-list-left p span {
      color: rgba(41, 43, 51, 0.8); }
    .order-list-left p span.iterm-name {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 30%;
              flex: 0 0 30%; }
    .order-list-left p span.iterm-con {
      color: rgba(41, 43, 51, 0.6); }
  .order-list-left p.iterm-time {
    color: rgba(41, 43, 51, 0.4);
    margin-top: 5px; }

.order-list-right {
  font-size: 16px;
  color: #00B6F2; }
  .order-list-right span {
    font-size: 18px;
    margin-right: 2px; }

.classify-box {
  position: absolute;
  top: 5px;
  z-index: 99;
  right: 15px;
  background: #34363E;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 170px;
  display: none; }
  .classify-box .classify-name {
    height: 45px;
    padding: 12px 15px;
    padding-top: 13px; }

.classify-name > i {
  display: block;
  color: #fff;
  line-height: 20px; }

.classify-name > i > a {
  color: #fff;
  display: block; }

.classify-name:active {
  background: #494B52; }

/*//注册toast样式修改*/
.mui-toast-container {
  left: 30%;
  bottom: 50% !important;
  -webkit-transition: opacity .3s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
  -webkit-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important; }

.mui-toast-container.mui-active {
  opacity: 1;
  -webkit-animation: myToast .3s;
          animation: myToast .3s; }

@-webkit-keyframes myToast {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@keyframes myToast {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }
.mui-toast-message {
  background: #00B6F2;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 182, 242, 0.4);
          box-shadow: 0 10px 20px rgba(0, 182, 242, 0.4); }

.toast-content {
  margin: 0 auto;
  margin-top: 33px; }

.toast-content p {
  color: #fff;
  line-height: 1em;
  text-align: center; }

.toast-content p:first-child {
  margin-bottom: 10px; }

.toast-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999; }

.toast-box.limit {
  display: none; }

.toast-box .toast-main {
  font-size: 16px;
  color: #fff;
  padding: 19px 24px 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  text-align: center;
  display: none;
  z-index: 999; }

.mui-pull-caption {
  font-weight: normal;
  font-size: 12px;
  color: rgba(41, 43, 51, 0.3); }

/*# sourceMappingURL=global.css.map */