@charset "UTF-8";
html, body {
  background-color: #F0F3F5; }

/*订单信息*/
.course-list {
  margin-top: 20px;
  padding: 20px 0;
  background-color: #fff; }

.iterm-shuoming {
  padding: 10px 15px 20px; }

.iterm-shuoming p {
  font-size: 12px;
  color: rgba(41, 43, 51, 0.4); }

.order_list_ul {
  background: #fff; }

.order_list_ul li {
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px; }

.order_list_ul li p {
  font-size: 16px;
  color: rgba(41, 43, 51, 0.8); }

/*优惠码*/
.coupon p.add_coupon {
  color: #00B6F2;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.coupon p.add_coupon > span {
  margin-right: 4px;
  width: 20px;
  height: 20px;
  background: url(../img/icon/add_blue.png) no-repeat center/cover;
  display: inline-block; }

.coupon p.add_coupon {
  color: #00B6F2;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  text-align: right; }

.coupon p.add_coupon > span {
  font-size: 25px;
  line-height: 12px;
  margin-right: 4px; }

.coupon p.add_coupon > i {
  line-height: 20px; }

.coupon p.youhui {
  text-align: right;
  display: none;
  color: rgba(41, 43, 51, 0.6); }

.coupon p.youhui > span {
  margin-left: 12px;
  margin-right: 10px;
  color: #292b33; }

.coupon p.youhui > i {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle; }

.order-iterm-box .iterm-shuoming-head {
  height: 50px; }

.order-iterm-box .iterm-shuoming-head p {
  line-height: 1em;
  padding-left: 15px;
  margin-top: 13px; }

.order_list_ul.ordersubmit-totalprice {
  margin-top: 20px; }

.order_list_ul li p.jifen-num, .order_list_ul li p.jifen-open {
  color: rgba(41, 43, 51, 0.4);
  margin-right: 10px; }

.order_list_ul li p.jifen-open .jifen-money {
  color: #292b33;
  margin-left: 5px; }

.order_list_ul li.jifen .iterm-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mui-switch {
  margin-top: -4px;
  width: 50px;
  border-color: #E5E5E5;
  height: 30px;
  border-radius: 15px; }

.mui-switch.mui-active {
  background: #00B6F2;
  border-color: #00B6F2; }

.mui-switch .mui-switch-handle {
  width: 27px;
  height: 27px; }

/*实付金额*/
.sub_money p.sub {
  color: #292B33;
  font-size: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  font-weight: bold; }

/*确认支付*/
.confirm {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #00B6F2;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: PingFang SC; }

.vip-content {
  padding: 20px 15px 20px;
  background-color: #fff; }

.vip-content ul li {
  width: 100%;
  height: 90px;
  border-left: 5px solid #FFD190;
  border-radius: 4px;
  padding: 22px 20px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  border-width: 1px 1px 1px 0;
  border-radius: 4px;
  cursor: pointer;
  background: #fff; }

.vip-content ul li .con-left {
  float: left; }

.vip-content ul li .con-left p {
  font-size: 16px;
  color: rgba(41, 43, 51, 0.8);
  line-height: 20px; }

.vip-content ul li .con-left i {
  font-size: 12px;
  color: rgba(41, 43, 51, 0.4); }

.vip-content ul li > p {
  float: right;
  font-size: 24px;
  color: rgba(41, 43, 51, 0.8);
  line-height: 40px; }

.vip-content ul li.cur {
  border-left: 5px solid #FF9500; }

.vip-content ul li.cur .con-left p {
  color: rgba(255, 149, 0, 0.8); }

.vip-content ul li.cur .con-left i {
  color: rgba(255, 149, 0, 0.6); }

.vip-content ul li.cur > p {
  color: #ff9500; }

.bundle-box {
  padding: 20px 0;
  background-color: #fff; }

.confirm-btn {
  border: none;
  padding: 0; }

/*# sourceMappingURL=order-submit.css.map */