{include file="common/header" /}
<link rel="stylesheet" type="text/css" href="/public/jqadmin/css/webuploader.css?v=0.1.5" media="all">

<body>
<div class="container-fluid larry-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <section class="panel panel-padding">
                <form id="form1" class="layui-form layui-form-pane" action="{:url('edit_menu')}">
                    <input type="hidden" name="id" value="{$menu.id}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">默认顶级</label>
                        <div class="layui-input-inline" style="width: 30%">
                            <select data-val="true" lay-filter="pid" name="pid"  lay-verify="required">
                                <option selected="selected" value="0">默认顶级</option>
                                {foreach name="admin_rule" item="v"}
                                {if $v.lvl < 3}
                                <option value="{$v.id}" {if $v.id eq $menu['pid']}selected="selected"{/if}>
                                {if $v.pid eq 0}{else}{if $v.lvl eq 2}　├{else}　　├{/if}{/if}{$v.title}
                                </option>
                                {/if}
                                {/foreach}
                            </select>

                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单名称</label>
                        <div class="layui-input-block">
                            <input name="title" autocomplete="off" value="{$menu.title}" placeholder="菜单名称" class="layui-input" type="text" required  lay-verify="title">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">节点</label>
                        <div class="layui-input-block">
                            <input name="name" autocomplete="off" value="{$menu.name}" placeholder="模块/控制器/方法" class="layui-input" type="text" required  lay-verify="required">
                            <span>如：admin/user/adduser (一级节点添加“#”即可)</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">css样式</label>
                        <div class="layui-input-block">
                            <input name="css" autocomplete="off" value="{$menu.css}" placeholder="输入菜单名称前显示的CSS样式" class="layui-input" type="text">
                            <span>如fa fa-user</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input name="sort" lay-verify="number" autocomplete="off" value="{$menu.sort}" placeholder="输入顺序" class="layui-input" type="text" style="width: 50%;">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" jq-submit lay-filter="submit">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
</body>
{include file="common/version" /}
<script>
    layui.use('myform');
</script>
</html>