<div class="mobliePhone-nav">
  <div class="mobliePhone-search">
	 <input type="search" name="" placeholder="搜索">
	 <img src="/public/wenda/images/search@2x20.png">
  </div>
  <div class="mobliePhone-nav-list">
	 <!--问答一级菜单  -->
	 <dl class="mobliePhone-wenda-dl">
		<dt>问答</dt>
		{include file="common/wendaul" /}
	 </dl>
	 <!-- 淘宝大学二级菜单 -->
	 <div class="mobliePhone-taobao">
		<h5>淘宝大学</h5>
		<ul class="mobliePhone-taobao-ul">
		   {include file="common/taobaoul" /}
		</ul>
	 </div>
	 <div class="mobliePhone-about-kaitao">
		 {include file="common/about" /}
		<p>{include file="common/copyright" /}</p>
	 </div>
  </div>
</div>