<li>
   <a href="http://www.kaitao.cn">全部</a>
</li>
<li><a href="http://www.kaitao.cn/taobaozixun">淘宝咨询</a></li>
<li>
   <a href="http://www.kaitao.cn/kaidianzhidao">淘宝开店</a>
   <span class="child-menu-type">
      <a href="http://www.kaitao.cn/guize">淘宝规则</a>
      <a href="http://www.kaitao.cn/taobaokaoshi">淘宝考试</a>
      <a href="http://www.kaitao.cn/mingdian">淘宝名店</a>
   </span>
</li>
<li><a href="http://www.kaitao.cn/zhuangxiujingyan">淘宝装修</a></li>
<li>
   <a href="http://www.kaitao.cn/taobaoyunying">运营策划</a>
   <span class="child-menu-type">
      <a href="http://www.kaitao.cn/taobaotuandui">团队管理</a>
      <a href="http://www.kaitao.cn/dianpuzhenduan">店铺诊断</a>
   </span>
</li>
<li>
   <a href="http://www.kaitao.cn/taobaotuiguang">淘宝推广</a>
   <span class="child-menu-type">
      <a href="http://www.kaitao.cn/wangdianseo">网店CEO</a>
      <a href="http://www.kaitao.cn/taoketuiguang">淘宝活动</a>
      <a href="http://www.kaitao.cn/taoketuiguang">淘宝客</a>
      <a href="http://www.kaitao.cn/zhitongche">淘宝直通车</a>
   </span>
</li>
<li>
   <a href="http://www.kaitao.cn/taobaojingyan">淘宝经验</a>
   <span class="child-menu-type">
      <a href="http://www.kaitao.cn/shoutao">手机淘宝</a>
      <a href="http://www.kaitao.cn/tmall">天猫商城</a>
      <a href="http://www.kaitao.cn/shuadan">淘宝刷单</a>
      <a href="http://www.kaitao.cn/taobaozatan">淘宝杂谈</a>
   </span>
</li>
<li>
   <a href="javascript:void(0)">特色市场</a>
   <span class="child-menu-type">
      <a href="http://www.kaitao.cn/nongcuntaobao">农村淘宝</a>
      <a href="http://www.kaitao.cn/aliexpress">速卖通</a>
      <a href="http://www.kaitao.cn/jd">京东商城</a>
   </span>
</li>
<li><a href="http://www.kaitao.cn/weixin">微信教程</a></li>