{include file="common/header" /}
<body>
<div class="article_manage mCustomScrollbar">
    <div class="right-side-header clearfix">
	        <span>系统设置</span>
	        {include file="common/admin" /}
   </div>
   <div class="right_side_content">
	   <div class="system_guanli_div">
	 		<ul class="system_guanli_ul">
				<li><a href="javascript:void(0)" class="active goto" data-src='{:url("user/index")}'>后台用户管理</a></li>
				<li><a href="javascript:void(0)" class="goto" data-src='{:url("role/index")}'>角色管理</a></li>
				<li><a href="javascript:void(0)" class="goto" data-src='{:url("index/setlogin")}'>登录配置</a></li>
				<li><a href="javascript:void(0)" class="goto" data-src='{:url("message/remind")}'>公告</a></li>
           </ul>
		</div>
		<div class="success_tip displayNone">已完成</div>
	    <div class="add_article_main ">
	        <div class="articleInfo_fill">
	            <section class="panel panel-padding">
	                <form id="form1" class="layui-form layui-form-pane" action='{:url("user/add_user")}'>
	                    <div class="layui-form-item">
	                        <label class="layui-form-label">登录名*</label>
	                        <div class="layui-input-inline">
	                            <input type="text" name="username" style="width: 100%" required jq-verify="required" jq-error="" placeholder="请输入登录名" autocomplete="off" class="layui-input ">
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
	                        <label class="layui-form-label">姓名</label>
	                        <div class="layui-input-inline">
	                            <input type="text" name="realname" style="width: 100%" placeholder="姓名" autocomplete="off" class="layui-input ">
	                        </div>
	                    </div>
	<!--                     <div class="layui-form-item">
	                        <label class="layui-form-label">头像*</label>
	                        <div class="layui-input-block">
	                            <input type="file" name="file" class="layui-upload-file">
	                            <input type="hidden" name="face" jq-verify="required" jq-error="请上传头像" jq-title="上传头像" error-id="photo-error">
	                            <p class="upload-info">建议尺寸：60*60 支持格式：JPG PNG</p>
	                            <p id="photo-error" class="error"></p>
	                        </div>
	                    </div> -->
	                    <div class="layui-form-item">
	                        <label class="layui-form-label">角色</label>
	                        <div class="layui-input-inline">
	                            <select name="groupid"  lay-verify="required">
	                                <option value="">请选择</option>
	                                {if !empty($role)}
	                                {foreach name="role" item="vo"}
	                                <option value="{$vo.id}">{$vo.title}</option>
	                                {/foreach}
	                                {/if}
	                            </select>
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
	                        <label class="layui-form-label">密码*</label>
	                        <div class="layui-input-inline">
	                            <input type="password" name="passwd" style="width: 100%" required jq-error="请输入密码" autocomplete="off" class="layui-input ">
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
	                        <label class="layui-form-label">状态</label>
	                        <div class="layui-input-inline">
	                            <input type="radio" name="closed" title="启用" value="0" checked />
	                            <input type="radio" name="closed" title="禁用" value="1" />
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
	                        <div class="layui-input-block">
	                            <button class="layui-btn" jq-submit jq-filter="submit">确定</button>
	                        </div>
	                    </div>
	                </form>
	            </section>
	
	        </div>
	    </div>
	 </div>
</div>
{include file="common/version" /}
<script>
    layui.use('course');
</script>

</body>
</html>