<div class="system_guanli_div">
 	<ul class="system_guanli_ul">
 		<li><a href="javascript:void(0)" class="goto {if $course_bread==2} active {/if} " data-src='{:url("course/index_cate")}'>课程分类</a></li>
	    <li><a href="javascript:void(0)" class="goto {if $course_bread==1} active {/if}" data-src='{:url("course/index")}'>课程列表</a></li>
         <li><a href="javascript:void(0)" class="goto {if $course_bread==3} active {/if} " data-src='{:url("Studentcomment/index")}'>学员评价</a></li>
         <li><a href="javascript:void(0)" class="goto {if $course_bread==4} active {/if} " data-src='{:url("question/index")}'>问答中心</a></li>
     </ul>
</div>
<div class="success_tip displayNone">已完成</div>