{include file="common/header" /}
<body>
<div class="article_manage">
    <div class="right-side-header clearfix">
	        <span>店铺管理</span>
	        {include file="common/admin" /}
   </div>
   <div class="right_side_content">
	   <div class="system_guanli_div">
	 		<ul class="system_guanli_ul">
                <li><a href="javascript:void(0)" class="active goto" data-src='{:url("ad/index")}'>pc首页广告</a></li>
           </ul>
		</div>
		<div class="success_tip displayNone">已完成</div>
	    <div class="add_article_main ">
<!-- 	        <div class="ad_operation_div">
	            <div class="add_article_step">
	            	<ul class="editCourse-nav-ul clearFloat">
	                	<li data-src='{:url("ad/index")}?id=1'{if $id == 1}class="goto active" {else} class="goto" {/if}><i data-name="index">小程序首页</i></li>
	                	<li data-src='{:url("ad/index")}?id=3' {if $id == 3}class="goto active" {else} class="goto" {/if}><i data-name="pc_index">pc首页</i></li>

	            	</ul>
	        	</div>
	        </div> -->

	        <div class="operation_div">
	            {if $adv_count==8}
	            <span class="span_add btn goto" style='line-height:30px;' data-src=''>添加广告</span>
	            {else}
	            <span class="span_add btn goto" style='line-height:30px;' data-src='{:url("ad/add_adv")}?id={$id}'>添加广告</span>
	            {/if}
	        	
	            <span class="span_delete btn ajax-all" data-name="checkbox" data-params='{"url": "{:url("batch_adv")}","data":"","confirm":"true"}'>删除</span>
	            {if $adv_count==8}<p>PC首页banner限制八张，您已经达到限制</p>{/if}
	            <div class="clearfix"></div>
	        </div>

	        <div id="list" class="layui-form"></div>
	        <div class="text-right" id="page"></div>
	    </div>
	 </div>
</div>
<script id="list-tpl" type="text/html" data-params='{"url":"{:url("index",["id"=>$id])}","pageid":"#page"}'>
    <table id="example" class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th style="width: 6%"><input type="checkbox" id="checkall" data-name="checkbox" lay-filter="check" lay-skin="primary"></th>
            <th>轮播图</th>
            <th>标题</th>
            <th>排序</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{# layui.each(d.list, function(index, item){ }}
        <tr>

            <td>
                <input type="checkbox" name="checkbox" value="{{ item.id}}" lay-skin="primary">
            </td>
            <td><img class="img_cover" src="{{ item.photopath}}" height="60" alt="封面"></td>
            <td>{{ item.title}}</td>
            <td class="icon"><i class="rise ajax" data-params='{"url": "{:url("ad/moveUpDown")}","data":"id={{ item.id}}&updown=up"}'></i><i class="drop ajax" data-params='{"url": "{:url("ad/moveUpDown")}","data":"id={{ item.id}}&updown=down"}'></i></td>
            <td><i class="i_edit goto" data-src='{:url("edit_adv")}?id={{ item.id }}'>编辑</i>／<i class="i_delete ajax" data-params='{"url": "{:url("del_adv")}","data":"id={{ item.id}}","confirm":"true"}'>删除</i></td>
        </tr>
        {{# }); }}
        </tbody>
    </table>
</script>
{include file="common/version" /}
<script>
    layui.use('list');
</script>
</body>
</html>